h1 {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
}

.wheel {
    background-image: url("../../public/wheel.png");
    background-size: contain 18;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
}

.wheel--aries {
   animation: horoscope-rotator;
   animation-duration: 5000ms;
   transform-origin: center center;
}

/* rotates the wheel based on user horoscope */
@keyframes horoscope-rotator {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.parent {
    background-image: url("../../public/background.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
}

.nameBox {
    text-align: center;
    margin-top: 30px;
    margin-left: 5px;
    background: transparent;
    border-bottom: 3px solid white;
    color: white;
    outline: none;
    font-size: 35px;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}


