.container {
    display: flex;
    justify-content: center;
}


.parent {
    background-image: url("../../public/background.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
}

.nameBox {
    text-align: center;
    margin-top: 25px;
    background: transparent;
    border-bottom: 3px solid white;
    color: white;
    outline: none;
    font-size: 20px;
    font-style:italic;
}

