h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .prompt {
    text-align: center;
    position: relative;
    top: 150px;

  }

  .prompt-text {
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
  }
  
  .input-transparent {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

  }

  .birthday {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .submit {
    background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  }

.astrology_info {
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}
